[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.1"
selenium = "==3.141.0"
chromedriver-binary = "==85.0.4183.87.0"

[requires]
python_version = "3.8"
